body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.color-picker {
  display: flex;
  flex-direction: column;
  width: 33%;
  height: 40vh;
  border-radius: 25px;
  margin: 2px;
  justify-content: space-between;
}

.color-picker .name-and-code {
  align-self: center;
  text-align: center;
}

.color-picker h3 {
  align-self: flex-end;
  padding: 5px;
}

.color-picker > p {
  padding: 0 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: 1px solid;
  border-radius: 25px;
}

.header {
  text-align: center;
  border-radius: 25px;
  border: 1px solid;
  margin: 2px;
}

@media only screen and (max-width: 1260px) {
  .color-picker {
    width: 32%;
  }

  .color-container {
    justify-content: space-between;
  }
}

@media only screen and (max-height: 630px) {
  .color-picker {
    font-size: x-small;
    justify-content: flex-start;
  }

  .color-picker .pantone {
    margin: 0;
  }
}